 <section class="jumbotron text-center bannerContent" style="margin-top:55px;">
   <ngx-carousel
       [inputs]="carouselBanner"
       [inputsLength]="bannerImg.length">
           <ngx-item class="bannerStyle" *ngFor="let banner of bannerImg">
               <img src="{{banner}}" alt="">
           </ngx-item>
         <button class='leftRs'><</button>
         <button class='rightRs'>></button>
   </ngx-carousel>
 </section>
 <section class="container thumbnailslidewrapper mt-3">
    <div class="owlCarouselComp" *ngFor="let item of containerData;let contid=index">
      <h3 class="float-left mb-0 primary-font">{{item.storyType}}</h3>
      <h4 (click)="seeAllListings()" class="mb-0 float-right pr-3 mr-3 ft-3 view-all secondary-font">See All</h4>
      <div class="clearfix"></div>
      <br/>
      <owl-carousel #owlElement class="ownCarouselCont"
          [options]="{items: numItem, dots: false, nav: showNavigationBar}"
          [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="item-owl" *ngFor="let a of item.data; let id=index">
              <img class="zoomIn" src="{{a.thumbnailUrl}}" alt="">
              <img class="zoomIn" src="{{a.thumbnailUrl}}" alt="">
          </div>
      </owl-carousel>
    </div>
 </section>
 <div class="search-results"
 infiniteScroll
 [infiniteScrollDistance]="0"
 [infiniteScrollUpDistance]="0.5"
 [infiniteScrollThrottle]="50"
 (scrolled)="onScrollDown()"
 (scrolledUp)="onScrollUp()">
</div>
<div *ngIf="(!isRequestCompleted)" class="loader-container">
    <div class="loader">
        <svg viewBox="0 0 32 32" width="32" height="32">
            <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
        </svg>
    </div>
</div>
 <footer class="footer">
    <div class="container">
        <span class="text-muted">@sonyliv</span>
    </div>
</footer>
